aiobotocore==2.24.0
async_lru==2.0.4
fsspec==2025.2.0
importlib-resources
langchain==0.3.17
langchain-aws==0.2.14
langchain-community==0.3.16
langchain-core==0.3.76 # previous 0.3.33
langchain-openai==0.3.33
langfuse==2.58.1
neo4j==5.27.0
pydantic>=2.0.0
scikit-learn==1.6.1
uuid7==0.1.0
tiktoken>=0.11.0
aioboto3==15.1.0
pdf2image==1.17.0
striprtf==0.0.29
aws-secretsmanager-caching==1.1.3